/server/dist
/server/.env
/server/node_modules

/client/dist
/client/.env
/client/node_modules

echo "# suburban-trains" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Shelikhof/suburban-trains.git
git push -u origin main